#task{
    color:rgb(0, 134, 218);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 37%;
    font-size: larger;
    font-weight: 600;
}
#nav{
    height: 13%;
    /* border: 1px solid black; */
    width: 100%;display: flex;
    justify-content: space-between;
}
#sort{
    height: 100%;
    color: rgb(0, 134, 218);
    font-size: large;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0%;
}
#main{
    width: 98%;
    height: 60%;
    background-color: rgb(243,242,241);
}
#menu{
    height: 100%;
    width: 100%;
    /* border: 1px solid black; */
}